root = true

################################################################################
### All files
################################################################################
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
file_header_template = Copyright (c) Christopher Whitley. All rights reserved.\nLicensed under the MIT license.\nSee LICENSE file in the project root for full license information.

################################################################################
### Xml files
################################################################################
[*.xml]
indent_size = 2

################################################################################
### Yaml files
################################################################################
[*.yml]
indent_size = 2

################################################################################
### C# files
################################################################################
[*.cs]

################################################################################
###
###
### Core EditorConfig Options
###
###
################################################################################

################################################################################
### Indentation and spacing
################################################################################
indent_size = 4
tab_width = 4

################################################################################
### New line preferences
################################################################################
end_of_line = crlf